.dashboard-header {
    @include flexlayout();
}

.headline {
    margin: auto 20px;
    font-weight: 400;
}

.main-header-search {
    width: 100%;
    text-align: right;
    background-color: $gray-lightest;
    border-left: 1px solid $gray-lightest;
    border-bottom: 1px solid $gray-lightest;
    border-bottom-left-radius: 10px;
}

.main-header-search input {
    width: 50%;
    padding: 5px 10px;
    margin: 0.83em;
    border: inset 0 white;
    border-radius: 5px ;
}