header {
    @include flexlayout() {
        justify-content: space-between;
    }
    background-color: $main-purple;
    padding: 0 20px;
    color: #fff;

    & span {
        font-weight: 100;
    }
}
       
.info {
    @include flexlayout();
    
    & > * {
        // margin: auto 3px;
        // padding: 0 5px;
    }

    & .svg {
        margin: auto 10px;
        padding: 10px
    }

    & .bell {
        width: 36px;
        margin-right: 5px;
        padding: 5px;
        border-right: 2px solid red;
    }
}

.header-img {
    width: 40px;
    border-radius: 50%;
}