header {
    @include flexlayout() {
        justify-content: space-between;
    }
    background-color: $main-purple;
    padding: 0 20px;
    color: #fff;

    & span {
        font-weight: 100;
        font-size: 0.95em;
    }
}
       
.info {
    @include flexlayout();

    & .svg {
        margin: auto 0px;
        padding: 0 5px
    }

    & .bell {
        width: 45px;
        // margin-right: 5px;
        padding: 5px 10px;
        border-right: 2px solid $linkedin-color;
    }
}

.header-img {
    width: 58px;
    padding: 7px;
    border-radius: 50%;
}

// test animation is working
// .svg:hover .bell {
    // transform: scale(2);
// }