@include mq(lg) {
    body {
        font-size: 1.2rem;
    }
}

@include mq(med) {
    .grid {
        grid-template-columns: 55px 1fr;
        grid-template-areas: 
        "header header"
        "navigation main"
    }
    
    main {
        grid-template-columns: 1fr 1fr;
        grid-template-columns: 50%;
    }

    .widget-container-full {
        width: 90vw;
    }
    .widget-container-half {
        width: 45vw;
    }

    .dashboard-header,
    .alert,
    .traffic,
    .social {
        grid-column: 1 / span 2;
    }

    .daily,
    .members,
    .message {
        grid-column: 1 / span 1;
        width:45vw;
    }

    .mobile,
    .activity,
    .settings {
        grid-column: span 1 / 3;
        width:45vw;
    }

    nav {
        display: block;

        & a {
            padding: 0;
        }

        & img {
            width:80%;
            padding: 10px 0 10px 10px;
            // border need to add when hover
            // border-left: 2px solid red;
        }
    }




}

/* ============================================= */
/*                  Header                       */
/* ============================================= */


/* ============================================= */
/*                  About                        */
/* ============================================= */


/* ============================================= */
/*                  Skills                       */
/* ============================================= */


/* ============================================= */
/*                  Projects                     */
/* ============================================= */


/* ============================================= */
/*                  Contact                      */
/* ============================================= */


/* ============================================= */
/*                  Footer                       */
/* ============================================= */