/* ============================================= */
/*              Media Query 768px                */
/* ============================================= */

@include mq(med) {

    .grid {
        grid-template-columns: 55px 1fr;
        grid-template-rows: repeat(autofit, minmax(100px, 1fr));
        grid-template-areas: 
        "header header"
        "navigation main"
    }

    .header {
        grid-area: header;
    }
    
    main {
        grid-area: main;
        display: grid;
        grid-template-columns: 50%;
    }

    .widget-container-full {
        width: 90vw;
    }

    .widget-container-half {
        width: 40vw;
    }

    .header,
    .dashboard-header,
    .alert,
    .traffic,
    .social {
        grid-column: 1 / span 2;
    }

    .daily,
    .members,
    .message {
        grid-column: 1 / span 1;
    }

    .mobile,
    .activity,
    .settings {
        grid-column: 2 / span 1;
    }


/* ============================================= */
/*                  Navigation                   */
/* ============================================= */
    
    nav {
        grid-area: navigation;
        display: block;

        & a {
            padding: 0;
            &:hover img {
                border-left: 2px solid $color-success;
                border-bottom: none;
            }
        }

        & img {
            width:80%;
            padding: 10px 0 10px 10px;
        }
    }


/* ============================================= */
/*                  Mobile                       */
/* ============================================= */    

    .mobile {
        border-left: 1px solid $gray-lightest;
        border-top: none;
    }
    
    
/* ============================================= */
/*                  Social                       */
/* ============================================= */
    
    .flexdiv {
        @include flexlayout() {
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
    }
    
    .social-container {
        min-width: 30%;
    }
}


/* ============================================= */
/*                  Activity                     */
/* ============================================= */
    
    .activity {
        border-left: 1px solid $gray-lightest;
    }

/* ============================================= */
/*                  Activity                     */
/* ============================================= */

.switch-light {
    width: 65%;
}




/* ============================================= */
/*              Media Query 1024px               */
/* ============================================= */

@include mq(lg) {

    .social-container {
        min-width: 30%;
    }

    .social-text {
        font-size: 1.2em;
    }

   
/* ============================================= */
/*                  Activity                     */
/* ============================================= */

    .switch-light {
        width: 50%;
    }
}