.members,
.activity {
    padding: 0 15px;
    border-top: 1px solid $gray-lightest;
    border-bottom: 1px solid $gray-lightest;
}

.members h3,
.activity h3 {
    margin-left: 20px;
}

.members-container {
    @include flexlayout();
    padding: 0 20px;
    padding-bottom: 15px;
    margin-top: 15px;

    &:not(:last-child) {
        border-bottom: 1px solid $gray-lightest;
    }
    
    & img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin: auto 0;
        margin-right: 20px;
    }
    
    & :last-child {
      margin-left: auto;
    }
}

.members-text {
    margin: auto 0;
    margin-right: 10px;
}

.members-text p {
    margin: 0;
}

