nav {
    @include flexlayout() {
        flex-direction: row;
        justify-content: center;
    }

    & a{
        width: 18%;
        text-align: center;
        
        &:hover img {
            border-bottom: 2px solid $color-success;
        }
    }

    & img {
        width: 50px;
        padding: 6px 5px;
    }
}