nav a {
    width: 18%;
    text-align: center;
}

nav a:hover img {
    border-bottom: 2px solid $color-success;
}

nav img {
    width: 50px;
    padding: 6px 5px;
    // border need to add when hover
}