.settings {
    @include flexlayout() {
        flex-direction: column;
    }

    padding: 0 15px;
}

.settings h3 {
    margin-left: 20px;
}

.switch-light {
    @include flexlayout();
    width: 55%;
    margin: 10px 0;

    & strong {
        margin: 0 20px;
    }

    & span.on-Switch {
        margin: auto 0 0 auto;
        width: 51.2px; // 80
        background-color: $main-background;
    }
}

.switch-ios.switch-light span span {
    color: #fff;
}
.switch-ios.switch-light a,
.switch-ios.switch-light input:checked ~ span,
.switch-ios.switch-light input:checked ~ span a {
    border-color: $main-background;
}

.switch-ios.switch-light input:checked ~ span {
    box-shadow: inset 0 0 0 30px $main-background;
}

.settings-button {
    @include flexlayout() {
        flex-direction: row;
    }
    margin-top: auto;
}

.form-field {
    margin: 0 10px;
    padding: 10px;
    border-radius: 5px;
}

.button-primary,
.button-disabled {
    margin-top: auto;
    width: 90%;
    margin: 10px;
    padding: 10px 0;
    color: #fff;
    background-color: $main-background;
    border: none;
    border-radius: 5px;
}

.button-disabled {
    background-color: $gray-lightest
}