.social {
    padding: 20px 0;
    border-top: 1px solid $gray-lightest;
}

.flexdiv {
    @include flexlayout() {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.social-container {
    @include flexlayout() {
        justify-content: center;
        align-items: center;
    }
    border: 1px solid $gray-lightest;
    background-color: #F9FBFD;
    margin: 1rem;
    min-width: 400px;
    min-height: 110px;
    border-radius: 10px;

}
.social-image {
    @include flexlayout();
    width: 80px;
    height: 80px;
    margin-right: 1rem;
    background-color: $main-background;
    border-radius: 50%;
}

#Layer_1 {
    margin: auto;
    width: 45px;
    height: 45px;
}

.twitter,
.google {
    padding-top: 9px;
}

.social-text p {
    font-size: 1.4em;
    color: #7477BF;
    margin:0;

    &:last-of-type {
        font-size: 2em;
        color: $main-color;
    }
}