.traffic-header {
    @include flexlayout() {
        justify-content: space-between;
    }
}

.traffic-header,
.traffic-header h3 {
    font-size: 0.66rem;
    font-weight: bold;
}

.traffic-nav li {
    display: inline-block;
    padding: 5px 5px;
    cursor: pointer;
    border-radius: 15px;

    &:hover {
        background-color: $color-success;
        color: #fff;
    }
}