.traffic {
    border-bottom: 1px solid $gray-lightest;
    padding-bottom: 10px;
}

.traffic-header {
    @include flexlayout() {
        justify-content: space-between;
    }
}

.traffic-nav li {
    display: inline-block;
    padding: 5px 5px;
    cursor: pointer;
    border-radius: 15px;

    &:hover {
        background-color: $color-success;
        color: #fff;
    }
}

.active {
    background-color: $color-success;
    color: #fff;
}